:root
{
    --background: radial-gradient(circle, hsla(204, 98%, 56%, 1) 24%, hsla(217, 83%, 7%, 1) 100%);
    --font-color: #d4d4d4;
    --primary-color: rgba(28, 28, 28, 1);
    --secondary-color: rgba(36, 36, 36, 1);
    --border-color: rgba(48, 48, 48, 1);
    --selection-color: #add6ff26;
    --active-color: hsla(207, 90%, 54%, 1);
    --inactive-color: hsla(0, 0%, 100%, 1);
}

*
{
    /* Size */
    box-sizing: border-box;
}

html, body
{
    /* Layout */
    display: block;

    /* Position */
    position: relative;

    /* Size */
    height: 100vh;

    /* Space */
    margin: 0;

    /* Style */
    background: var(--background);
    overflow: hidden;
}