*
{
    box-sizing: border-box;
}

:host
{
    /* Variables */
    --padding: 10px;

    /* Layout */
    display: flex;
    flex-direction: row;

    /* Size */
    width: 100vw;
    height: 100vh;
}

:host([hidden])
{
    display: none
}

.left
{
    /* Size */
    width: 50%;
    height: 100%;

    /* Space */
    padding: var(--padding);
}

.right
{
    /* Size */
    width: 50%;
    height: 100%;

    /* Space */
    padding: var(--padding);
}