*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --item-height: 50px;
    --item-border-color: var(--border-color);

    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    /* Size */
    width: 100%;
    height: var(--item-height);

    /* Space */
    gap: 5px;

    /* Style */
    border: 1px solid var(--item-border-color);
}

:host([hidden])
{
    display: none
}

.value
{
    /* Size */
    width: 65px;
}