*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --item-height: 50px;

    /* Layout */
    display: flex;
}

:host([hidden])
{
    display: none
}

.item
{
    /* Size */
    width: 100%;
    height: var(--item-height);
}