*
{
    /* Size */
    box-sizing: border-box;
}

:host
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

.editor
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

.codeflask
{
    /* Position */
    position: relative !important;
}

.codeflask__pre
{
    /* Size */
    width: auto !important;
}