*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --button-size: 30px;
    --input-width: 100px;
    --modal-size: 35%;

    /* Layout */
    display: block;

    /* Size */
    width: var(--button-size);
    height: var(--button-size);
}

:host([hidden])
{
    display: none;
}

#image
{
    /* Size */
    width: 50%;
    height: 50%;
}