*
{
    box-sizing: border-box;
}

:host
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;

    /* background */
    background-color: var(--secondary-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

:host([hidden])
{
    display: none;
}

::selection
{
    background: var(--text-selection-color);
}

.editor
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

/*
|--------------------------------------------------------------------------
| CodeFlask
|--------------------------------------------------------------------------
*/

.codeflask
{
    position: relative !important;
}

.codeflask__pre
{
    width: auto !important;
}

.codeflask__flatten
{
    z-index: 0 !important;
}

.codeflask textarea
{
    overflow-y: scroll;
    color: transparent;
}

.codeflask.codeflask--has-line-numbers::before
{
    background: var(--secondary-color) !important;
    border-right: 2px solid var(--border-color);
}

/* Theme */

.codeflask
{
    background: var(--secondary-color);
    color: #d4d4d4;
}

.codeflask .token.punctuation
{
    color: #4a4a4a;
}

.codeflask .token.keyword
{
    color: #569cd6;
}

.codeflask .token.operator
{
    color: #d4d4d4;
}

.codeflask .token.string
{
    color: #ce9178;
}

.codeflask .token.comment
{
    color: #6A9955;
}

.codeflask .token.function
{
    color: #569cd6;
}

.codeflask .token.boolean
{
    color: #569cd6;
}

.codeflask .token.number
{
    color: #b5cea8;
}

.codeflask .token.selector
{
    color: #d4d4d4;
}

.codeflask .token.property
{
    color: #d4d4d4;
}

.codeflask .token.tag
{
    color: #ce9178;
}

.codeflask .token.attr-value
{
    color: #d4d4d4;
}