*
{
    box-sizing: border-box;
}

:host
{
    /* Variables */
    --editor-background: var(--secondary-color);
    --editor-border-color: var(--border-color);
    --controls-background: var(--primary-color);
    --controls-height: 40px;
    --selection-color: var(--text-selection-color);

    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

:host([hidden])
{
    display: none
}

::selection
{
    background: var(--selection-color);
}

.editor
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: calc(100% - var(--controls-height));
}

.controls
{
    /* Layout */
    display: flex;
    align-items: center;

    /* Size */
    width: 100%;
    height: var(--controls-height);

    /* Style */
    background-color: var(--controls-background);
    border-top: 2px solid var(--editor-border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.compile-button
{
    /* Layout */
    display: flex;

    /* Size */
    width: 30px;
    height: 30px;

    /* Space */
    margin-left: 10px;

    /* Style */
    border: none;
    border-radius: 25%;
}

/*
|--------------------------------------------------------------------------
| CodeFlask
|--------------------------------------------------------------------------
*/

.codeflask
{
    position: relative !important;
}

.codeflask__pre
{
    width: auto !important;
}

.codeflask__flatten
{
    z-index: 0 !important;
}

.codeflask textarea
{
    color: transparent;
}

.codeflask.codeflask--has-line-numbers::before
{
    background: transparent !important;
    border-right: 2px solid var(--editor-border-color);
}

/* Theme */

.codeflask
{
    background: var(--editor-background);
    color: #d4d4d4;
}

.codeflask .token.punctuation
{
    color: #4a4a4a;
}

.codeflask .token.keyword
{
    color: #569cd6;
}

.codeflask .token.operator
{
    color: #d4d4d4;
}

.codeflask .token.string
{
    color: #ce9178;
}

.codeflask .token.comment
{
    color: #6A9955;
}

.codeflask .token.function
{
    color: #569cd6;
}

.codeflask .token.boolean
{
    color: #569cd6;
}

.codeflask .token.number
{
    color: #b5cea8;
}

.codeflask .token.selector
{
    color: #d4d4d4;
}

.codeflask .token.property
{
    color: #d4d4d4;
}

.codeflask .token.tag
{
    color: #ce9178;
}

.codeflask .token.attr-value
{
    color: #d4d4d4;
}