*
{
    box-sizing: border-box;
}

:host
{
    /* Variables */
    --status-bar-height: 50px;

    /* Layout */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Size */
    width: 100%;
    height: 100%;
}

:host([hidden])
{
    display: none;
}

#renderContainer
{
    /* Layout */
    overflow: hidden;

    /* Size */
    flex-grow: 1;
    width: 100%;

    /* Style */
    background-color: var(--secondary-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#canvas
{
    /* Size */
    width: 100%;
    height: 100%;
}

#video
{
    /* Size */
    width: 100%;
    height: 100%;
}

#statusBar
{
    /* Layout */
    display: flex;
    align-items: center;

    /* Size */
    flex-shrink: 0;
    width: 100%;
    height: var(--status-bar-height);

    /* Style */
    background-color: var(--primary-color);
    border-top: 2px solid var(--border-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#resetButton
{
    /* Space */
    margin-left: 10px;
}

#resumeButton
{
    /* Space */
    margin-left: 10px;
}

#pauseButton
{
    /* Space */
    margin-left: 10px;
}

#picinpicButton
{
    /* Space */
    margin-left: 10px;
}

#timeLabel
{
    /* Space */
    margin-left: 10px;

    /* Text */
    font-size: 14px;

    /* Style */
    color: var(--font-color);
}

#resolutionLabel
{
    /* Space */
    margin-left: 10px;

    /* Text */
    font-size: 14px;

    /* Style */
    color: var(--font-color);
}