*
{
    box-sizing: border-box;
}

:host
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

:host([hidden])
{
    display: none;
}

canvas
{
    /* Size */
    width: 100%;
    height: 100%;

    /* Style */
    border-radius: 10px;
}