*
{
    /* Size */
    box-sizing: border-box;
}

:host
{
    /* Layout */
    display: block;

    /* Size */
    width: 100%;
    height: 100%;
}

canvas
{
    /* Size */
    width: 100%;
    height: 100%;
}