*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --button-size: 30px;
    --input-width: 100px;
    --modal-size: 35%;

    /* Layout */
    display: block;

    /* Size */
    width: var(--button-size);
    height: var(--button-size);
}

:host([hidden])
{
    display: none;
}

#video
{
    /* Size */
    max-width: 90%;
    height: 90%;

    /* Space */
    margin-top: calc(var(--button-size) + 10px);
}

#deviceSelect
{
    /* Space */
    margin-bottom: 10px;
}