*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --button-size: 30px;
    --input-width: 100px;
    --window-size: 35%;

    /* Layout */
    display: block;

    /* Size */
    width: var(--button-size);
    height: var(--button-size);
}

:host([hidden])
{
    display: none;
}

#window
{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Size */
    width: var(--window-size);
    height: var(--window-size);

    /* Style */
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px black;
}

#window[hidden]
{
    display: none;
}

#window *
{
    /* Space */
    margin: 10px;
}

#video
{
    /* Size */
    max-width: 90%;
    height: 90%;
}