*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --button-size: 30px;
    --input-width: 60px;
    --view-size: 35%;

    /* Layout */
    display: block;

    /* Size */
    width: var(--button-size);
    height: var(--button-size);
}

:host([hidden])
{
    display: none;
}

#window
{
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Size */
    width: var(--view-size);
    height: var(--view-size);

    /* Style */
    background-color: var(--secondary-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px black;
}

#window[hidden]
{
    display: none;
}

#window td[column="0"]::before
{
    /* Space */
    margin-right: 5px;

    /* Style */
    content: ""attr(row)"";
    color: white;
    text-shadow: 1px 1px 1px black;
}

#window td
{
    /* Position */
    position: relative;

    /* Space */
    padding: 5px;
}

#window tr[row="0"] td::after
{
    /* Position */
    position: absolute;
    transform: translate(-30px, -20px);

    /* Style */
    content: ""attr(column)"";
    color: white;
    text-shadow: 1px 1px 1px black;
}

input
{
    /* Size */
    width: var(--input-width);
}