*
{
    box-sizing: border-box;
}

:host
{
    /* Variables*/
    --button-size: 30px;
    --input-width: 60px;
    --modal-size: 35%;

    /* Layout */
    display: block;

    /* Size */
    width: var(--button-size);
    height: var(--button-size);
}

:host([hidden])
{
    display: none;
}

td[column="0"]::before
{
    /* Space */
    margin-right: 5px;

    /* Style */
    content: ""attr(row)"";
    color: white;
    text-shadow: 1px 1px 1px black;
}

td
{
    /* Position */
    position: relative;

    /* Space */
    padding: 5px;
}

tr[row="0"] td::after
{
    /* Position */
    position: absolute;
    transform: translate(-30px, -20px);

    /* Style */
    content: ""attr(column)"";
    color: white;
    text-shadow: 1px 1px 1px black;
}

input
{
    /* Size */
    width: var(--input-width);
}