*
{
    box-sizing: border-box;
}

:host
{
    /* Variables */
    --background-color: var(--secondary-color);
    --add-button-size: 35px;

    /* Layout */
    display: block;

    /* Position */
    position: relative;

    /* Size */
    width: 100%;
    height: 100%;

    /* Style */
    background-color: var(--background-color);
}

:host([hidden])
{
    display: none
}

.list
{
    /* Layout */
    display: block;
    overflow: scroll;

    /* Size */
    width: 100%;
    height: calc(90% - var(--add-button-size));
}

.add-button
{
    /* Position */
    position: absolute;
    bottom: 0;
    left: 50%;

    /* Size */
    width: var(--add-button-size);
    height: var(--add-button-size);

    /* Space */
    margin-bottom: 10px;

    /* Style */
    border: none;
    border-radius: 10px;
}